# Project Auto_Quote_Data

In [1]:
# importing the libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.style.use('seaborn')

import pandasql as psql

In [2]:
AutoIns = pd.read_csv(r"D:\iiit notes\Internship\28 season 21th jun-2021\Auto_Quote_Data_V1.0.csv", header=0)
AutoIns.head()

,Quote_Num,Agent_Type,Q_Creation_DT,Q_Valid_DT,Policy_Bind_DT,Region,Agent_Num,Policy_Type,HH_Vehicles,HH_Drivers,...,Marital_Status,Education,Sal_Range,Coverage,Veh_Usage,Annual_Miles_Range,Vehicl_Cost_Range,Re_Quote,Quoted_Premium,Policy_Bind
0,AQ-C-139212,EA,2020/04/25,2020/06/23,2020/05/23,C,2156,Car,3,3,...,Widow,High School,> $ 25 K <= $ 40 K,Balanced,Commute,> 55 K,> $ 10 K <= $ 20 K,No,693.86,Yes
1,AQ-F-136117,EA,2020/02/21,2020/04/20,NaN,F,2153,Van,2,2,...,Dirvorced,Ph.D,> $ 40 K <= $ 60 K,Balanced,Pleasure,> 7.5 K & <= 15 K,<= $ 10 K,No,635.96,No
2,AQ-F-126801,EA,2020/06/19,2020/08/17,2020/07/12,F,2056,Truck,2,1,...,Dirvorced,Ph.D,> $ 40 K <= $ 60 K,Basic,Commute,> 35 K & <= 45 K,> $ 10 K <= $ 20 K,No,780.64,Yes
3,AQ-E-143467,EA,2020/05/02,2020/06/30,2020/05/24,E,2138,Car,1,2,...,Married,Ph.D,> $ 90 K,Basic,Pleasure,<= 7.5 K,<= $ 10 K,No,723.15,Yes
4,AQ-C-143827,EA,2020/02/12,2020/04/11,2020/02/25,C,2327,Truck,3,1,...,Widow,High School,<= $ 25 K,Basic,Pleasure,> 35 K & <= 45 K,<= $ 10 K,No,738.14,Yes

In [3]:
AutoIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146259 entries, 0 to 146258
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Quote_Num           146259 non-null  object
 1   Agent_Type          146259 non-null  object
 2   Q_Creation_DT       146259 non-null  object
 3   Q_Valid_DT          146259 non-null  object
 4   Policy_Bind_DT      32502 non-null   object
 5   Region              146259 non-null  object
 6   Agent_Num           146259 non-null  int64
 7   Policy_Type         146259 non-null  object
 8   HH_Vehicles         146259 non-null  int64
 9   HH_Drivers          146259 non-null  int64
 10  Driver_Age          146259 non-null  int64
 11  Driving_Exp         146259 non-null  int64
 12  Prev_Accidents      146259 non-null  int64
 13  Prev_Citations      146259 non-null  int64
 14  Gender              146259 non-null  object
 15  Marital_Status      146259 non-null  object
 16  Education           146259 non-null  object
 17  Sal_Range           146259 non-null  object
 18  Coverage            146259 non-null  object
 19  Veh_Usage           146259 non-null  object
 20  Annual_Miles_Range  146259 non-null  object
 21  Vehicl_Cost_Range   146259 non-null  object
 22  Re_Quote            146259 non-null  object
 23  Quoted_Premium      146259 non-null  float64
 24  Policy_Bind         146259 non-null  object
dtypes: float64(1), int64(7), object(17)
memory usage: 27.9+ MB

In [4]:
AutoIns.columns

Index(['Quote_Num', 'Agent_Type', 'Q_Creation_DT', 'Q_Valid_DT',
       'Policy_Bind_DT', 'Region', 'Agent_Num', 'Policy_Type', 'HH_Vehicles',
       'HH_Drivers', 'Driver_Age', 'Driving_Exp', 'Prev_Accidents',
       'Prev_Citations', 'Gender', 'Marital_Status', 'Education', 'Sal_Range',
       'Coverage', 'Veh_Usage', 'Annual_Miles_Range', 'Vehicl_Cost_Range',
       'Re_Quote', 'Quoted_Premium', 'Policy_Bind'],
      dtype='object')

In [5]:
# Displaying duplicate values with in dataset

AutoIns_dup = AutoIns[AutoIns.duplicated(keep='last')]
AutoIns_dup

Empty DataFrame
Columns: [Quote_Num, Agent_Type, Q_Creation_DT, Q_Valid_DT, Policy_Bind_DT, Region, Agent_Num, Policy_Type, HH_Vehicles, HH_Drivers, Driver_Age, Driving_Exp, Prev_Accidents, Prev_Citations, Gender, Marital_Status, Education, Sal_Range, Coverage, Veh_Usage, Annual_Miles_Range, Vehicl_Cost_Range, Re_Quote, Quoted_Premium, Policy_Bind]
Index: []

[0 rows x 25 columns]

In [6]:
AutoIns.shape

(146259, 25)

In [7]:
AutoIns['Policy_Bind'] = AutoIns['Policy_Bind'].str.replace('Yes', '1')
AutoIns['Policy_Bind'] = AutoIns['Policy_Bind'].str.replace('No', '0')
AutoIns['Policy_Bind'] = AutoIns['Policy_Bind'].astype(int)

In [8]:
# Count the target or dependent variable by '0' & '1' and
# their proportion (> 10 : 1, then the dataset is imbalance dataset)

Policy_Bind_count = AutoIns.Policy_Bind.value_counts()
print('Class 0:', Policy_Bind_count[0])
print('Class 1:', Policy_Bind_count[1])
print('Proportion:', round(Policy_Bind_count[0] / Policy_Bind_count[1], 2), ': 1')
print('Total Records:', len(AutoIns))

Class 0: 113757
Class 1: 32502
Proportion: 3.5 : 1
Total Records: 146259

In [9]:
# Convert the variable data type into category variable

AutoIns['Region'] = AutoIns['Region'].astype("category")
AutoIns['Policy_Type'] = AutoIns['Policy_Type'].astype("category")

In [10]:
AutoIns['Gender'].value_counts()

Female    73294
Male      72965
Name: Gender, dtype: int64

In [11]:
AutoIns['Marital_Status'].value_counts()

Single       36711
Widow        36523
Dirvorced    36520
Married      36505
Name: Marital_Status, dtype: int64

In [12]:
AutoIns.head().T

,0,1,2,3,4
Quote_Num,AQ-C-139212,AQ-F-136117,AQ-F-126801,AQ-E-143467,AQ-C-143827
Agent_Type,EA,EA,EA,EA,EA
Q_Creation_DT,2020/04/25,2020/02/21,2020/06/19,2020/05/02,2020/02/12
Q_Valid_DT,2020/06/23,2020/04/20,2020/08/17,2020/06/30,2020/04/11
Policy_Bind_DT,2020/05/23,NaN,2020/07/12,2020/05/24,2020/02/25
Region,C,F,F,E,C
Agent_Num,2156,2153,2056,2138,2327
Policy_Type,Car,Van,Truck,Car,Truck
HH_Vehicles,3,2,2,1,3
HH_Drivers,3,2,1,2,1
Driver_Age,43,30,25,43,40
Driving_Exp,26,13,8,26,23
Prev_Accidents,0,0,0,0,0
Prev_Citations,0,0,0,0,0
Gender,Female,Female,Female,Female,Female
Marital_Status,Widow,Dirvorced,Dirvorced,Married,Widow
Education,High School,Ph.D,Ph.D,Ph.D,High School
Sal_Range,> $ 25 K <= $ 40 K,> $ 40 K <= $ 60 K,> $ 40 K <= $ 60 K,> $ 90 K,<= $ 25 K
Coverage,Balanced,Balanced,Basic,Basic,Basic
Veh_Usage,Commute,Pleasure,Commute,Pleasure,Pleasure
Annual_Miles_Range,> 55 K,> 7.5 K & <= 15 K,> 35 K & <= 45 K,<= 7.5 K,> 35 K & <= 45 K
Vehicl_Cost_Range,> $ 10 K <= $ 20 K,<= $ 10 K,> $ 10 K <= $ 20 K,<= $ 10 K,<= $ 10 K
Re_Quote,No,No,No,No,No
Quoted_Premium,693.86,635.96,780.64,723.15,738.14
Policy_Bind,1,0,1,1,1

In [13]:
AutoIns = pd.get_dummies(AutoIns, columns=['Gender', 'Marital_Status']) 
AutoIns.head()

,Quote_Num,Agent_Type,Q_Creation_DT,Q_Valid_DT,Policy_Bind_DT,Region,Agent_Num,Policy_Type,HH_Vehicles,HH_Drivers,...,Vehicl_Cost_Range,Re_Quote,Quoted_Premium,Policy_Bind,Gender_Female,Gender_Male,Marital_Status_Dirvorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Widow
0,AQ-C-139212,EA,2020/04/25,2020/06/23,2020/05/23,C,2156,Car,3,3,...,> $ 10 K <= $ 20 K,No,693.86,1,1,0,0,0,0,1
1,AQ-F-136117,EA,2020/02/21,2020/04/20,NaN,F,2153,Van,2,2,...,<= $ 10 K,No,635.96,0,1,0,1,0,0,0
2,AQ-F-126801,EA,2020/06/19,2020/08/17,2020/07/12,F,2056,Truck,2,1,...,> $ 10 K <= $ 20 K,No,780.64,1,1,0,1,0,0,0
3,AQ-E-143467,EA,2020/05/02,2020/06/30,2020/05/24,E,2138,Car,1,2,...,<= $ 10 K,No,723.15,1,1,0,0,1,0,0
4,AQ-C-143827,EA,2020/02/12,2020/04/11,2020/02/25,C,2327,Truck,3,1,...,<= $ 10 K,No,738.14,1,1,0,0,0,0,1

In [14]:
AutoIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146259 entries, 0 to 146258
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Quote_Num                 146259 non-null  object
 1   Agent_Type                146259 non-null  object
 2   Q_Creation_DT             146259 non-null  object
 3   Q_Valid_DT                146259 non-null  object
 4   Policy_Bind_DT            32502 non-null   object
 5   Region                    146259 non-null  category
 6   Agent_Num                 146259 non-null  int64
 7   Policy_Type               146259 non-null  category
 8   HH_Vehicles               146259 non-null  int64
 9   HH_Drivers                146259 non-null  int64
 10  Driver_Age                146259 non-null  int64
 11  Driving_Exp               146259 non-null  int64
 12  Prev_Accidents            146259 non-null  int64
 13  Prev_Citations            146259 non-null  int64
 14  Education                 146259 non-null  object
 15  Sal_Range                 146259 non-null  object
 16  Coverage                  146259 non-null  object
 17  Veh_Usage                 146259 non-null  object
 18  Annual_Miles_Range        146259 non-null  object
 19  Vehicl_Cost_Range         146259 non-null  object
 20  Re_Quote                  146259 non-null  object
 21  Quoted_Premium            146259 non-null  float64
 22  Policy_Bind               146259 non-null  int32
 23  Gender_Female             146259 non-null  uint8
 24  Gender_Male               146259 non-null  uint8
 25  Marital_Status_Dirvorced  146259 non-null  uint8
 26  Marital_Status_Married    146259 non-null  uint8
 27  Marital_Status_Single     146259 non-null  uint8
 28  Marital_Status_Widow      146259 non-null  uint8
dtypes: category(2), float64(1), int32(1), int64(7), object(12), uint8(6)
memory usage: 24.0+ MB

In [15]:
AutoIns['Q_Creation_DT'] = pd.to_datetime(AutoIns['Q_Creation_DT'], format='%Y-%m-%d') 
AutoIns['Q_Valid_DT'] = pd.to_datetime(AutoIns['Q_Valid_DT'], format='%Y-%m-%d')

In [16]:
AutoIns = pd.get_dummies(AutoIns, columns=['Vehicl_Cost_Range']) 
AutoIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146259 entries, 0 to 146258
Data columns (total 33 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Quote_Num                             146259 non-null  object
 1   Agent_Type                            146259 non-null  object
 2   Q_Creation_DT                         146259 non-null  datetime64[ns]
 3   Q_Valid_DT                            146259 non-null  datetime64[ns]
 4   Policy_Bind_DT                        32502 non-null   object
 5   Region                                146259 non-null  category
 6   Agent_Num                             146259 non-null  int64
 7   Policy_Type                           146259 non-null  category
 8   HH_Vehicles                           146259 non-null  int64
 9   HH_Drivers                            146259 non-null  int64
 10  Driver_Age                            146259 non-null  int64
 11  Driving_Exp                           146259 non-null  int64
 12  Prev_Accidents                        146259 non-null  int64
 13  Prev_Citations                        146259 non-null  int64
 14  Education                             146259 non-null  object
 15  Sal_Range                             146259 non-null  object
 16  Coverage                              146259 non-null  object
 17  Veh_Usage                             146259 non-null  object
 18  Annual_Miles_Range                    146259 non-null  object
 19  Re_Quote                              146259 non-null  object
 20  Quoted_Premium                        146259 non-null  float64
 21  Policy_Bind                           146259 non-null  int32
 22  Gender_Female                         146259 non-null  uint8
 23  Gender_Male                           146259 non-null  uint8
 24  Marital_Status_Dirvorced              146259 non-null  uint8
 25  Marital_Status_Married                146259 non-null  uint8
 26  Marital_Status_Single                 146259 non-null  uint8
 27  Marital_Status_Widow                  146259 non-null  uint8
 28  Vehicl_Cost_Range_<= $ 10 K           146259 non-null  uint8
 29  Vehicl_Cost_Range_> $ 10 K <= $ 20 K  146259 non-null  uint8
 30  Vehicl_Cost_Range_> $ 20 K <= $ 30 K  146259 non-null  uint8
 31  Vehicl_Cost_Range_> $ 30 K <= $ 40 K  146259 non-null  uint8
 32  Vehicl_Cost_Range_> $ 40 K            146259 non-null  uint8
dtypes: category(2), datetime64[ns](2), float64(1), int32(1), int64(7), object(9), uint8(11)
memory usage: 23.6+ MB

In [17]:
AutoIns['Policy_Bind_DT'] = pd.to_datetime(AutoIns['Policy_Bind_DT'], format='%Y-%m-%d')

In [18]:
AutoIns.sample(2)

,Quote_Num,Agent_Type,Q_Creation_DT,Q_Valid_DT,Policy_Bind_DT,Region,Agent_Num,Policy_Type,HH_Vehicles,HH_Drivers,...,Gender_Male,Marital_Status_Dirvorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Widow,Vehicl_Cost_Range_<= $ 10 K,Vehicl_Cost_Range_> $ 10 K <= $ 20 K,Vehicl_Cost_Range_> $ 20 K <= $ 30 K,Vehicl_Cost_Range_> $ 30 K <= $ 40 K,Vehicl_Cost_Range_> $ 40 K
141378,AQ-C-132712,EA,2020-09-24,2020-11-22,NaT,C,2173,Truck,1,1,...,1,0,0,1,0,1,0,0,0,0
136068,AQ-C-142775,IA,2020-01-15,2020-03-14,NaT,C,2218,Van,1,2,...,1,0,0,1,0,0,0,0,1,0

In [19]:
AutoIns = pd.get_dummies(AutoIns, columns=['Region', 'Policy_Type', 'Education', 'Sal_Range', 'Coverage', 'Veh_Usage', 'Annual_Miles_Range', 'Re_Quote']) 
AutoIns.head()

,Quote_Num,Agent_Type,Q_Creation_DT,Q_Valid_DT,Policy_Bind_DT,Agent_Num,HH_Vehicles,HH_Drivers,Driver_Age,Driving_Exp,...,Veh_Usage_Pleasure,Annual_Miles_Range_<= 7.5 K,Annual_Miles_Range_> 15 K & <= 25 K,Annual_Miles_Range_> 25 K & <= 35 K,Annual_Miles_Range_> 35 K & <= 45 K,Annual_Miles_Range_> 45 K & <= 55 K,Annual_Miles_Range_> 55 K,Annual_Miles_Range_> 7.5 K & <= 15 K,Re_Quote_No,Re_Quote_Yes
0,AQ-C-139212,EA,2020-04-25,2020-06-23,2020-05-23,2156,3,3,43,26,...,0,0,0,0,0,0,1,0,1,0
1,AQ-F-136117,EA,2020-02-21,2020-04-20,NaT,2153,2,2,30,13,...,1,0,0,0,0,0,0,1,1,0
2,AQ-F-126801,EA,2020-06-19,2020-08-17,2020-07-12,2056,2,1,25,8,...,0,0,0,0,1,0,0,0,1,0
3,AQ-E-143467,EA,2020-05-02,2020-06-30,2020-05-24,2138,1,2,43,26,...,1,1,0,0,0,0,0,0,1,0
4,AQ-C-143827,EA,2020-02-12,2020-04-11,2020-02-25,2327,3,1,40,23,...,1,0,0,0,1,0,0,0,1,0

In [20]:
AutoIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146259 entries, 0 to 146258
Data columns (total 61 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Quote_Num                             146259 non-null  object
 1   Agent_Type                            146259 non-null  object
 2   Q_Creation_DT                         146259 non-null  datetime64[ns]
 3   Q_Valid_DT                            146259 non-null  datetime64[ns]
 4   Policy_Bind_DT                        32502 non-null   datetime64[ns]
 5   Agent_Num                             146259 non-null  int64
 6   HH_Vehicles                           146259 non-null  int64
 7   HH_Drivers                            146259 non-null  int64
 8   Driver_Age                            146259 non-null  int64
 9   Driving_Exp                           146259 non-null  int64
 10  Prev_Accidents                        146259 non-null  int64
 11  Prev_Citations                        146259 non-null  int64
 12  Quoted_Premium                        146259 non-null  float64
 13  Policy_Bind                           146259 non-null  int32
 14  Gender_Female                         146259 non-null  uint8
 15  Gender_Male                           146259 non-null  uint8
 16  Marital_Status_Dirvorced              146259 non-null  uint8
 17  Marital_Status_Married                146259 non-null  uint8
 18  Marital_Status_Single                 146259 non-null  uint8
 19  Marital_Status_Widow                  146259 non-null  uint8
 20  Vehicl_Cost_Range_<= $ 10 K           146259 non-null  uint8
 21  Vehicl_Cost_Range_> $ 10 K <= $ 20 K  146259 non-null  uint8
 22  Vehicl_Cost_Range_> $ 20 K <= $ 30 K  146259 non-null  uint8
 23  Vehicl_Cost_Range_> $ 30 K <= $ 40 K  146259 non-null  uint8
 24  Vehicl_Cost_Range_> $ 40 K            146259 non-null  uint8
 25  Region_A                              146259 non-null  uint8
 26  Region_B                              146259 non-null  uint8
 27  Region_C                              146259 non-null  uint8
 28  Region_D                              146259 non-null  uint8
 29  Region_E                              146259 non-null  uint8
 30  Region_F                              146259 non-null  uint8
 31  Region_G                              146259 non-null  uint8
 32  Region_H                              146259 non-null  uint8
 33  Policy_Type_Car                       146259 non-null  uint8
 34  Policy_Type_Truck                     146259 non-null  uint8
 35  Policy_Type_Van                       146259 non-null  uint8
 36  Education_Bachelors                   146259 non-null  uint8
 37  Education_College                     146259 non-null  uint8
 38  Education_High School                 146259 non-null  uint8
 39  Education_Masters                     146259 non-null  uint8
 40  Education_Ph.D                        146259 non-null  uint8
 41  Sal_Range_<= $ 25 K                   146259 non-null  uint8
 42  Sal_Range_> $ 25 K <= $ 40 K          146259 non-null  uint8
 43  Sal_Range_> $ 40 K <= $ 60 K          146259 non-null  uint8
 44  Sal_Range_> $ 60 K <= $ 90 K          146259 non-null  uint8
 45  Sal_Range_> $ 90 K                    146259 non-null  uint8
 46  Coverage_Balanced                     146259 non-null  uint8
 47  Coverage_Basic                        146259 non-null  uint8
 48  Coverage_Enhanced                     146259 non-null  uint8
 49  Veh_Usage_Business                    146259 non-null  uint8
 50  Veh_Usage_Commute                     146259 non-null  uint8
 51  Veh_Usage_Pleasure                    146259 non-null  uint8
 52  Annual_Miles_Range_<= 7.5 K           146259 non-null  uint8
 53  Annual_Miles_Range_> 15 K & <= 25 K   146259 non-null  uint8
 54  Annual_Miles_Range_> 25 K & <= 35 K   146259 non-null  uint8
 55  Annual_Miles_Range_> 35 K & <= 45 K   146259 non-null  uint8
 56  Annual_Miles_Range_> 45 K & <= 55 K   146259 non-null  uint8
 57  Annual_Miles_Range_> 55 K             146259 non-null  uint8
 58  Annual_Miles_Range_> 7.5 K & <= 15 K  146259 non-null  uint8
 59  Re_Quote_No                           146259 non-null  uint8
 60  Re_Quote_Yes                          146259 non-null  uint8
dtypes: datetime64[ns](3), float64(1), int32(1), int64(7), object(2), uint8(47)
memory usage: 21.6+ MB

In [21]:
AutoIns = AutoIns.drop(['Quote_Num', 'Q_Creation_DT', 'Q_Valid_DT', 'Policy_Bind_DT', 'Agent_Num'], axis=1)

In [22]:
AutoIns = pd.get_dummies(AutoIns, columns=['Agent_Type']) 
AutoIns.head()

,HH_Vehicles,HH_Drivers,Driver_Age,Driving_Exp,Prev_Accidents,Prev_Citations,Quoted_Premium,Policy_Bind,Gender_Female,Gender_Male,...,Annual_Miles_Range_> 15 K & <= 25 K,Annual_Miles_Range_> 25 K & <= 35 K,Annual_Miles_Range_> 35 K & <= 45 K,Annual_Miles_Range_> 45 K & <= 55 K,Annual_Miles_Range_> 55 K,Annual_Miles_Range_> 7.5 K & <= 15 K,Re_Quote_No,Re_Quote_Yes,Agent_Type_EA,Agent_Type_IA
0,3,3,43,26,0,0,693.86,1,1,0,...,0,0,0,0,1,0,1,0,1,0
1,2,2,30,13,0,0,635.96,0,1,0,...,0,0,0,0,0,1,1,0,1,0
2,2,1,25,8,0,0,780.64,1,1,0,...,0,0,1,0,0,0,1,0,1,0
3,1,2,43,26,0,0,723.15,1,1,0,...,0,0,0,0,0,0,1,0,1,0
4,3,1,40,23,0,0,738.14,1,1,0,...,0,0,1,0,0,0,1,0,1,0

In [23]:
# Identify the dependent and Target variables 
IndepVar = [] 
for col in AutoIns.columns: 
    if col != 'Policy_Bind': 
        IndepVar.append(col)
        
TargetVar = 'Policy_Bind' 
        
x = AutoIns[IndepVar] 
y = AutoIns[TargetVar]

In [24]:
# Splitting the dataset into train and test 

from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 42)

In [25]:
# Feature Scaling - Each independent variable is in different range. The process of transforming all the 
# features in the given data set to a fixed range is known as â€˜Scalingâ€™ 
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
x_train_n = sc.fit_transform(x_train) 
x_test_n = sc.fit_transform(x_test)

In [26]:
# To build the decision tree model with random sampling 
from sklearn.tree import DecisionTreeClassifier 
AutoInsdc = DecisionTreeClassifier() 
AutoInsdc = AutoInsdc.fit(x_train_n,y_train)

In [27]:
# Predict the model with test data set 

y_pred = AutoInsdc.predict(x_test_n)

In [28]:
# Display confusion matrix and classifiction report 

from sklearn.metrics import classification_report, confusion_matrix 
print(confusion_matrix(y_test, y_pred)) 
print(classification_report(y_test, y_pred))

[[25627  8435]
 [ 7331  2485]]
              precision    recall  f1-score   support

           0       0.78      0.75      0.76     34062
           1       0.23      0.25      0.24      9816

    accuracy                           0.64     43878
   macro avg       0.50      0.50      0.50     43878
weighted avg       0.65      0.64      0.65     43878

In [30]:
# Evaluate the model performance by metrics 
from sklearn import metrics 
from sklearn.metrics import roc_curve, roc_auc_score 

# Model Accuracy: how often is the classifier correct? 
print("Accuracy:", (round(metrics.accuracy_score(y_test, y_pred) * 100, 2)), "%") 

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:", (round(metrics.precision_score(y_test, y_pred) * 100, 2)), '%')

# Model Recall: what percentage of positive tuples are labelled as such? 
print("Recall:", (round(metrics.recall_score(y_test, y_pred) * 100, 2)), "%") 

# Model Recall: what percentage of positive tuples are labelled as such? 
print("f1-score:", (round(metrics.f1_score(y_test, y_pred) * 100, 2)), '%') 

# Area under ROC curve 
print('roc_auc_score:', round(roc_auc_score(y_test, y_pred), 3))

Accuracy: 64.07 %
Precision: 22.76 %
Recall: 25.32 %
f1-score: 23.97 %
roc_auc_score: 0.503