In [2]:
# Import the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Ignore harmful warnings

import warnings
warnings.filterwarnings('ignore')

import pandasql as psql

In [3]:
# Load the loans data

Claims_data = pd.read_csv(r"D:\iiit notes\Programming\AI\Internship practice\48 season 28-jul-2021\Claims_Data_Missing_Values.csv", header=0)
Claims_data.head()

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,NaN,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,NaN
4,CL-1712003,140846711.0,NaN,Car,NaN,1567.45,2934.25

In [5]:
# copy the dataset to new file

Claims_data_F1 = Claims_data.copy()
Claims_data_F2 = Claims_data.copy()
Claims_data_F3 = Claims_data.copy()
Claims_data_F4 = Claims_data.copy()
Claims_data_F5 = Claims_data.copy()
Claims_data_F6 = Claims_data.copy()

In [7]:
# Using KNN Imputer to address the Driver_Age missing values

from sklearn.impute import KNNImputer

imputer_int = KNNImputer(missing_values=np.nan)

Claims_data_F1['Driver_Age'] = imputer_int.fit_transform(Claims_data_F1[['Driver_Age']])
Claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.000000,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.000000,Truck,NaN,1052.25,8956.15
2,CL-1384474,176552663.0,19.000000,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.000000,Car,0.0,980.85,NaN
4,CL-1712003,140846711.0,40.466667,Car,NaN,1567.45,2934.25
5,CL-1518709,126885444.0,40.466667,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.000000,NaN,0.0,NaN,1492.35
7,CL-1622931,184558739.0,38.000000,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,40.466667,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.000000,Truck,0.0,1252.25,NaN
10,CL-1727554,176634765.0,60.000000,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,40.466667,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.000000,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.000000,Truck,NaN,1495.15,NaN
14,CL-1525750,130465403.0,36.000000,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,40.466667,Truck,0.0,NaN,598.65
16,CL-1354933,154877763.0,52.000000,Van,0.0,NaN,921.75
17,CL-1353387,181411853.0,29.000000,Truck,NaN,1401.25,NaN
18,CL-1337183,141365962.0,40.466667,Car,1.0,1672.75,5919.15
19,CL-1969136,NaN,45.000000,Van,1.0,NaN,NaN
20,CL-1893203,161682966.0,65.000000,Car,0.0,1425.65,736.95

In [8]:
Claims_data_F1['Premium_AMT'] = imputer_int.fit_transform(Claims_data_F1[['Premium_AMT']])
Claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.000000,Car,0.0,1272.450000,12634.25
1,CL-1742889,135517422.0,26.000000,Truck,NaN,1052.250000,8956.15
2,CL-1384474,176552663.0,19.000000,Car,1.0,1389.750000,3691.65
3,CL-1283351,157711099.0,35.000000,Car,0.0,980.850000,NaN
4,CL-1712003,140846711.0,40.466667,Car,NaN,1567.450000,2934.25
5,CL-1518709,126885444.0,40.466667,Van,0.0,1173.950000,590.65
6,CL-1661021,191874052.0,61.000000,NaN,0.0,1317.179412,1492.35
7,CL-1622931,184558739.0,38.000000,Van,0.0,1146.950000,962.15
8,CL-1470986,179027710.0,40.466667,Van,1.0,1453.650000,2691.95
9,CL-1886922,179500989.0,53.000000,Truck,0.0,1252.250000,NaN
10,CL-1727554,176634765.0,60.000000,Car,1.0,1584.750000,6924.15
11,CL-1984398,124196289.0,40.466667,Van,0.0,1264.250000,650.95
12,CL-1927305,132014482.0,34.000000,Car,0.0,1135.450000,350.95
13,CL-1543745,173697008.0,29.000000,Truck,NaN,1495.150000,NaN
14,CL-1525750,130465403.0,36.000000,Car,0.0,1123.250000,264.75
15,CL-1773900,154882349.0,40.466667,Truck,0.0,1317.179412,598.65
16,CL-1354933,154877763.0,52.000000,Van,0.0,1317.179412,921.75
17,CL-1353387,181411853.0,29.000000,Truck,NaN,1401.250000,NaN
18,CL-1337183,141365962.0,40.466667,Car,1.0,1672.750000,5919.15
19,CL-1969136,NaN,45.000000,Van,1.0,1317.179412,NaN
20,CL-1893203,161682966.0,65.000000,Car,0.0,1425.650000,736.95

In [9]:
Claims_data_F1['Claim_AMT'] = imputer_int.fit_transform(Claims_data_F1[['Claim_AMT']])
Claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.000000,Car,0.0,1272.450000,12634.25000
1,CL-1742889,135517422.0,26.000000,Truck,NaN,1052.250000,8956.15000
2,CL-1384474,176552663.0,19.000000,Car,1.0,1389.750000,3691.65000
3,CL-1283351,157711099.0,35.000000,Car,0.0,980.850000,3145.04375
4,CL-1712003,140846711.0,40.466667,Car,NaN,1567.450000,2934.25000
5,CL-1518709,126885444.0,40.466667,Van,0.0,1173.950000,590.65000
6,CL-1661021,191874052.0,61.000000,NaN,0.0,1317.179412,1492.35000
7,CL-1622931,184558739.0,38.000000,Van,0.0,1146.950000,962.15000
8,CL-1470986,179027710.0,40.466667,Van,1.0,1453.650000,2691.95000
9,CL-1886922,179500989.0,53.000000,Truck,0.0,1252.250000,3145.04375
10,CL-1727554,176634765.0,60.000000,Car,1.0,1584.750000,6924.15000
11,CL-1984398,124196289.0,40.466667,Van,0.0,1264.250000,650.95000
12,CL-1927305,132014482.0,34.000000,Car,0.0,1135.450000,350.95000
13,CL-1543745,173697008.0,29.000000,Truck,NaN,1495.150000,3145.04375
14,CL-1525750,130465403.0,36.000000,Car,0.0,1123.250000,264.75000
15,CL-1773900,154882349.0,40.466667,Truck,0.0,1317.179412,598.65000
16,CL-1354933,154877763.0,52.000000,Van,0.0,1317.179412,921.75000
17,CL-1353387,181411853.0,29.000000,Truck,NaN,1401.250000,3145.04375
18,CL-1337183,141365962.0,40.466667,Car,1.0,1672.750000,5919.15000
19,CL-1969136,NaN,45.000000,Van,1.0,1317.179412,3145.04375
20,CL-1893203,161682966.0,65.000000,Car,0.0,1425.650000,736.95000

In [10]:
# Fill null values of Policy_Num with '123456789'

Claims_data_F1 = Claims_data_F1.fillna({'Policy_Num': 123456789})
Claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.000000,Car,0.0,1272.450000,12634.25000
1,CL-1742889,135517422.0,26.000000,Truck,NaN,1052.250000,8956.15000
2,CL-1384474,176552663.0,19.000000,Car,1.0,1389.750000,3691.65000
3,CL-1283351,157711099.0,35.000000,Car,0.0,980.850000,3145.04375
4,CL-1712003,140846711.0,40.466667,Car,NaN,1567.450000,2934.25000
5,CL-1518709,126885444.0,40.466667,Van,0.0,1173.950000,590.65000
6,CL-1661021,191874052.0,61.000000,NaN,0.0,1317.179412,1492.35000
7,CL-1622931,184558739.0,38.000000,Van,0.0,1146.950000,962.15000
8,CL-1470986,179027710.0,40.466667,Van,1.0,1453.650000,2691.95000
9,CL-1886922,179500989.0,53.000000,Truck,0.0,1252.250000,3145.04375
10,CL-1727554,176634765.0,60.000000,Car,1.0,1584.750000,6924.15000
11,CL-1984398,124196289.0,40.466667,Van,0.0,1264.250000,650.95000
12,CL-1927305,132014482.0,34.000000,Car,0.0,1135.450000,350.95000
13,CL-1543745,173697008.0,29.000000,Truck,NaN,1495.150000,3145.04375
14,CL-1525750,130465403.0,36.000000,Car,0.0,1123.250000,264.75000
15,CL-1773900,154882349.0,40.466667,Truck,0.0,1317.179412,598.65000
16,CL-1354933,154877763.0,52.000000,Van,0.0,1317.179412,921.75000
17,CL-1353387,181411853.0,29.000000,Truck,NaN,1401.250000,3145.04375
18,CL-1337183,141365962.0,40.466667,Car,1.0,1672.750000,5919.15000
19,CL-1969136,123456789.0,45.000000,Van,1.0,1317.179412,3145.04375
20,CL-1893203,161682966.0,65.000000,Car,0.0,1425.650000,736.95000

In [11]:
Claims_data_F1['Policy_Type'].value_counts()

Car      9
Van      6
Truck    5
Name: Policy_Type, dtype: int64

In [12]:
Claims_data_F1['Pre_Claims'].value_counts()

0.0    12
1.0     5
Name: Pre_Claims, dtype: int64

In [14]:
from sklearn.impute import SimpleImputer

imputer_str = SimpleImputer(missing_values=np.nan,strategy='most_frequent')

Claims_data_F1['Policy_Type'] = imputer_str.fit_transform(Claims_data_F1[['Policy_Type']])
Claims_data_F1['Pre_Claims'] = imputer_str.fit_transform(Claims_data_F1[['Pre_Claims']])
Claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.000000,Car,0.0,1272.450000,12634.25000
1,CL-1742889,135517422.0,26.000000,Truck,0.0,1052.250000,8956.15000
2,CL-1384474,176552663.0,19.000000,Car,1.0,1389.750000,3691.65000
3,CL-1283351,157711099.0,35.000000,Car,0.0,980.850000,3145.04375
4,CL-1712003,140846711.0,40.466667,Car,0.0,1567.450000,2934.25000
5,CL-1518709,126885444.0,40.466667,Van,0.0,1173.950000,590.65000
6,CL-1661021,191874052.0,61.000000,Car,0.0,1317.179412,1492.35000
7,CL-1622931,184558739.0,38.000000,Van,0.0,1146.950000,962.15000
8,CL-1470986,179027710.0,40.466667,Van,1.0,1453.650000,2691.95000
9,CL-1886922,179500989.0,53.000000,Truck,0.0,1252.250000,3145.04375
10,CL-1727554,176634765.0,60.000000,Car,1.0,1584.750000,6924.15000
11,CL-1984398,124196289.0,40.466667,Van,0.0,1264.250000,650.95000
12,CL-1927305,132014482.0,34.000000,Car,0.0,1135.450000,350.95000
13,CL-1543745,173697008.0,29.000000,Truck,0.0,1495.150000,3145.04375
14,CL-1525750,130465403.0,36.000000,Car,0.0,1123.250000,264.75000
15,CL-1773900,154882349.0,40.466667,Truck,0.0,1317.179412,598.65000
16,CL-1354933,154877763.0,52.000000,Van,0.0,1317.179412,921.75000
17,CL-1353387,181411853.0,29.000000,Truck,0.0,1401.250000,3145.04375
18,CL-1337183,141365962.0,40.466667,Car,1.0,1672.750000,5919.15000
19,CL-1969136,123456789.0,45.000000,Van,1.0,1317.179412,3145.04375
20,CL-1893203,161682966.0,65.000000,Car,0.0,1425.650000,736.95000

In [15]:
Claims_data_F1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     21 non-null     object
 1   Policy_Num   21 non-null     float64
 2   Driver_Age   21 non-null     float64
 3   Policy_Type  21 non-null     object
 4   Pre_Claims   21 non-null     float64
 5   Premium_AMT  21 non-null     float64
 6   Claim_AMT    21 non-null     float64
dtypes: float64(5), object(2)
memory usage: 1.3+ KB

In [17]:
# Convert float into integer values

Claims_data_F1['Policy_Num'] = Claims_data_F1['Policy_Num'].astype(int)
Claims_data_F1['Driver_Age'] = Claims_data_F1['Driver_Age'].astype(int)
Claims_data_F1['Pre_Claims'] = Claims_data_F1['Pre_Claims'].astype(int)

In [21]:
Claims_data_F1.describe()

         Policy_Num  Driver_Age  Pre_Claims  Premium_AMT     Claim_AMT
count  2.100000e+01   21.000000   21.000000    21.000000     21.000000
mean   1.573292e+08   40.333333    0.238095  1317.179412   3145.043750
std    2.283897e+07   12.220202    0.436436   179.931634   3161.572263
min    1.234568e+08   19.000000    0.000000   980.850000    264.750000
25%    1.355174e+08   34.000000    0.000000  1173.950000    736.950000
50%    1.577111e+08   40.000000    0.000000  1317.179412   2934.250000
75%    1.767519e+08   45.000000    0.000000  1425.650000   3145.043750
max    1.918741e+08   65.000000    1.000000  1672.750000  12634.250000

In [23]:
imputer_num = SimpleImputer(missing_values=np.nan,strategy='mean')

Claims_data_F2['Premium_AMT'] = imputer_num.fit_transform(Claims_data_F2[['Premium_AMT']])
Claims_data_F2['Claim_AMT'] = imputer_num.fit_transform(Claims_data_F2[['Claim_AMT']])
Claims_data_F2

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.450000,12634.25000
1,CL-1742889,135517422.0,26.0,Truck,NaN,1052.250000,8956.15000
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.750000,3691.65000
3,CL-1283351,157711099.0,35.0,Car,0.0,980.850000,3145.04375
4,CL-1712003,140846711.0,NaN,Car,NaN,1567.450000,2934.25000
5,CL-1518709,126885444.0,NaN,Van,0.0,1173.950000,590.65000
6,CL-1661021,191874052.0,61.0,NaN,0.0,1317.179412,1492.35000
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.950000,962.15000
8,CL-1470986,179027710.0,NaN,Van,1.0,1453.650000,2691.95000
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.250000,3145.04375
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.750000,6924.15000
11,CL-1984398,124196289.0,NaN,Van,0.0,1264.250000,650.95000
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.450000,350.95000
13,CL-1543745,173697008.0,29.0,Truck,NaN,1495.150000,3145.04375
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.250000,264.75000
15,CL-1773900,154882349.0,NaN,Truck,0.0,1317.179412,598.65000
16,CL-1354933,154877763.0,52.0,Van,0.0,1317.179412,921.75000
17,CL-1353387,181411853.0,29.0,Truck,NaN,1401.250000,3145.04375
18,CL-1337183,141365962.0,NaN,Car,1.0,1672.750000,5919.15000
19,CL-1969136,NaN,45.0,Van,1.0,1317.179412,3145.04375
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.650000,736.95000

In [ ]:
imputer_cat = SimpleImputer(missing_values=np.nan,strategy='')