In [1]:
# Import all necessory the libraries

# Dataframe operations - pandas

import pandas as pd

# Math calculations

import numpy as np

# Plotting data - matplotlib

import matplotlib.pyplot as plt

# Dataframes using sql - To run queries 

import pandasql as psql

# Ignore harmless warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the Auto_Insurance dataset

AutoIns = pd.read_excel(r"D:\iiit notes\Programming\AI\Internship practice\Capstone project - 02\Auto_Insurance_Data V 1.0.xlsx",sheet_name=0, header=0)

# Display first five records 

AutoIns.head()

,Rec_ID,Policy_number,Agent_Type,Process_Dt,Days_Process_Bind,Bind_Dt,Eff_Dt,Renewal_Dt,State,Policy_Type,...,Prev_Citations,Marital_Status,Education,Sal_Range,Coverage,Veh_Usage,Annual_Miles_Range,Vehicle_Cost_Range,Claims_Amount_Range,Unnamed: 28
0,1,123459912,EA,2021-05-27,20,2021-06-16,2021-06-16,2021-12-14,CA,Car,...,1,1,4,2,1,2,2,4,0,NaN
1,2,123673362,EA,2021-02-26,8,2021-03-06,2021-03-06,2021-09-03,OR,Car,...,1,3,4,5,1,1,1,3,0,NaN
2,3,123978119,EA,2021-07-01,5,2021-07-06,2021-07-06,2022-01-03,OR,Van,...,1,3,1,4,1,2,6,1,0,NaN
3,4,123663280,EA,2021-06-22,2,2021-06-24,2021-06-24,2021-12-22,AZ,Car,...,0,1,3,2,1,1,8,3,0,NaN
4,5,123686557,EA,2021-07-03,20,2021-07-23,2021-07-23,2022-01-20,OR,Car,...,0,1,1,7,1,3,5,3,0,NaN

In [3]:
# Display the dataset information

AutoIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37492 entries, 0 to 37491
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rec_ID               37492 non-null  int64
 1   Policy_number        37492 non-null  int64
 2   Agent_Type           37492 non-null  object
 3   Process_Dt           37492 non-null  datetime64[ns]
 4   Days_Process_Bind    37492 non-null  int64
 5   Bind_Dt              37492 non-null  datetime64[ns]
 6   Eff_Dt               37492 non-null  datetime64[ns]
 7   Renewal_Dt           37492 non-null  datetime64[ns]
 8   State                37492 non-null  object
 9   Policy_Type          37492 non-null  object
 10  NW_Premium           37492 non-null  float64
 11  Taxes                37492 non-null  float64
 12  GW_Premium           37492 non-null  float64
 13  Num_Drivers          37492 non-null  int64
 14  Num_Vehicles         37492 non-null  int64
 15  Gender               37492 non-null  object
 16  Age                  37492 non-null  int64
 17  Driving_Exp          37492 non-null  int64
 18  Prev_Accidents       37492 non-null  int64
 19  Prev_Citations       37492 non-null  int64
 20  Marital_Status       37492 non-null  int64
 21  Education            37492 non-null  int64
 22  Sal_Range            37492 non-null  int64
 23  Coverage             37492 non-null  int64
 24  Veh_Usage            37492 non-null  int64
 25  Annual_Miles_Range   37492 non-null  int64
 26  Vehicle_Cost_Range   37492 non-null  int64
 27  Claims_Amount_Range  37492 non-null  int64
 28  Unnamed: 28          0 non-null      float64
dtypes: datetime64[ns](4), float64(4), int64(17), object(4)
memory usage: 8.3+ MB

In [4]:
# Adding new columns as year, month, week Day and week Day for Bind_Dt

AutoIns['B_year'] = AutoIns['Bind_Dt'].dt.year
AutoIns['B_Month'] = AutoIns['Bind_Dt'].dt.month
AutoIns['B_WeekNum'] = AutoIns['Bind_Dt'].dt.weekofyear
AutoIns['B_Day'] = AutoIns['Bind_Dt'].dt.weekday

In [6]:
# Drop the variables which are not consider for time series analysis

AutoIns = AutoIns.drop(['Rec_ID', 'Agent_Type','Days_Process_Bind','State','Policy_Type', 'NW_Premium', 'Taxes','Num_Drivers',
                        'Num_Vehicles', 'Gender', 'Age', 'Driving_Exp', 'Prev_Accidents','Prev_Citations', 'Marital_Status', 
                        'Education', 'Sal_Range','Coverage', 'Veh_Usage', 'Annual_Miles_Range', 'Vehicle_Cost_Range', 
                        'Claims_Amount_Range', 'Unnamed: 28'], axis=1)

In [7]:
# Display the dataset information after deletion of variables (not impacting our solution) 

AutoIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37492 entries, 0 to 37491
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Policy_number  37492 non-null  int64
 1   Process_Dt     37492 non-null  datetime64[ns]
 2   Bind_Dt        37492 non-null  datetime64[ns]
 3   Eff_Dt         37492 non-null  datetime64[ns]
 4   Renewal_Dt     37492 non-null  datetime64[ns]
 5   GW_Premium     37492 non-null  float64
 6   B_year         37492 non-null  int64
 7   B_Month        37492 non-null  int64
 8   B_WeekNum      37492 non-null  int64
 9   B_Day          37492 non-null  int64
dtypes: datetime64[ns](4), float64(1), int64(5)
memory usage: 2.9 MB

In [8]:
# To understand the New Policy bind trend with 6 months predictions

AutoIns_File1 = psql.sqldf("select B_Month, B_year, count(B_Month) as Total_Count, \
                            sum(GW_Premium) as Total_Policy_Premium \
                            from AutoIns \
                            group by B_Month, B_year \
                            order by B_Month, B_year")
AutoIns_File1.head()

   B_Month  B_year  Total_Count  Total_Policy_Premium
0        2    2021         5602          8.228526e+06
1        3    2021         5819          8.582856e+06
2        4    2021         6130          9.041812e+06
3        5    2021         6349          9.318748e+06
4        6    2021         6671          9.882595e+06

In [9]:
# Write a New Policies data to local drive

AutoIns_File1.to_excel('D:/iiit notes/Programming/AI/Internship practice/Capstone project - 02/AutoIns_File01.xlsx')